cx_Freeze
lupa
git+https://github.com/FAForever/faftools.git@develop#egg=faftools
ipaddress
pathlib
py
pycparser==2.10
pytest
pytest-cov
pytest-mock
pytest-qt
python-dateutil==2.2
requests
trueskill
semantic_version
